<div class="header">
    <div class="mlogo">后台管理</div>
    <div class="clearfix">
        {{#aNav}}
        <div class="fl ml10"><a class="{{#select}}udl{{/select}} {{cls}}" href="{{url}}">{{name}}</a></div>
        {{/aNav}}
    </div>
</div>