<div class="">
    <p class="mb1">博客列表</p>
    <ul>
    {{#blogList}}
        <li class="clearfix">
            <a id="js_blog_{{blogId}}">
                <span class="fl">{{title}}</span>
            </a>
            <span class="fr">{{sceneParams.createTime}}</span>
        </li>
    {{/blogList}}
    </ul>
</div>