/* 
 *   sass变量方法定义
 */

/* 
 *   抽象模块                          
 */
.header{
    padding: 1%;
    height:8%;
    .logo{
        width:35.82%;
        .img{
            cursor: pointer;
            float: right;
            height: 5em;
        }
    }
}
.category{
    padding: 1%;
    height:78%;
    width: 18%;
    float: left;
    .on{
        background-color: darkgrey;
    }
}
.maincontent{
    padding: 1%;
    height:78%;
    width: 78%;
    float: right;
}
.footer{
    padding: 1%;
    height:8%;
}
