.maindiv {
  position: relative;
  width: 100%; }

.maincontent {
  position: relative;
  width: 100%; }

.header {
  margin-bottom: 20px; }

.mblog_edit .info {
  margin: 10px; }
.mblog_edit .info .title {
  width: 100%; }
.mblog_edit .content {
  margin: 10px; }
.mblog_edit .content .textarea {
  width: 100%;
  height: 400px; }
