<div class="category">
    <p class="mb1"><a href="{{myTools}}">我的工具</a></p>
    <p class="mb1">博客分类</p>
    <ul>
    {{#aList}}
        <li class="{{#on}}on{{/on}}">
            <a href="{{url}}">{{name}}({{blogCount}})</a>
        </li>
    {{/aList}}
    </ul>
</div>