/************************************/
/* sass变量方法定义                   */
/************************************/
$isIe: true !default;
$siteBgColor : #f1f1f1;
$red : #FF0000;
$black : #000;
$blue :  #0076d1;
$yellow : #fde900;
$pink :  #8c1227;
$white : #fff;
$gray :  #777;
$_10_all : 10, 20, 30, 40, 50, 60, 70, 80, 90, all;
$_1_10 : 1,2,3,4,5,6,7,8,9,10;
@function color($c){
    @if $c=="red"{
        @return $red;
    }@else if $c=="black"{
        @return $black;
    }@else if $c=="blue"{
        @return $blue;
    }@else if $c=="yellow"{
        @return $yellow;
    }@else if $c=="pink"{
        @return $pink;
    }@else if $c=="white"{
        @return $white;
    }@else if $c=="gray"{
        @return $gray;
    }
}
/************************************/
/* 布局                              */
/************************************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, textarea, p, th, td{
    margin: 0;
    padding: 0;
}
body{
    font:12px/1.2 Arial,Microsoft YaHei, Helvetica, sans-serif;
    height: 100%;
    color: #000;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
samp{
    font-family: Arial, Helvetica, sans-serif;
}
ol, ul, menu{
    list-style: none;
}
a{
    color: #000; text-decoration: none; cursor: pointer;
    &:hover{color:#3468F1;text-decoration:none }
}
img{
    border: none;
}
em, i{
    font-style: normal;
}
/*clear*/
.clearfix {
    @if $isIe {
        *zoom: 1;
    }

    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
        overflow: hidden;
    }
}
.lh2{line-height: 2}
/*screen*/
#maindiv{
    position: relative;
}
/*display*/
.db{
    display: block;
}
.dn{
    display: none;
}
.vh{
    visibility: hidden;
}
.dib{
    display: inline-block;
}
.ofh{
    overflow: hidden;
}
/*float position*/
.fl{
    float: left;
}
.fr{
    float: right;
}
.pr{
    position: relative;
}
.pa{
    position: absolute;
}
.t0{
    top:0;
}
.r0{
    right:0;
}
.b0{
    bottom:0;
}
.l0{
    left:0;
}
/*width*/
@each $v in $_10_all{
    .w#{$v} {
        @if $v==all{
            width: 100%;
        }@else{
            width: #{$v}#{"%"};
        }
    }
}
/*height*/
@each $v in $_10_all{
    .h#{$v} {
        @if $v==all{
            height: 100%;
        }@else{
            height: #{$v}#{"%"};
        }
    }
}
/*margin*/
.m0a{
    margin:0 auto;
}
@each $v in $_1_10{
    .m#{$v} {
        margin: #{$v}#{"%"};
    }
    .m#{$v}a {
        margin: #{$v}#{"%"} auto;
    }
}
/*mt*/
@each $v in $_1_10{
    .mt#{$v} {
        margin-top: #{$v}#{"%"};
    }
}
/*mr*/
@each $v in $_1_10{
    .mr#{$v} {
        margin-right: #{$v}#{"%"};
    }
}
/*mb*/
@each $v in $_1_10{
    .mb#{$v} {
        margin-bottom: #{$v}#{"%"};
    }
}
/*ml*/
@each $v in $_1_10{
    .ml#{$v} {
        margin-left: #{$v}#{"%"};
    }
}
/*padding*/
@each $v in $_1_10{
    .p#{$v} {
        padding: #{$v}#{"%"};
    }
}
/*pt*/
@each $v in $_1_10{
    .pt#{$v} {
        padding-top: #{$v}#{"%"};
    }
}
/*pr*/
@each $v in $_1_10{
    .pr#{$v} {
        padding-right: #{$v}#{"%"};
    }
}
/*pb*/
@each $v in $_1_10{
    .pb#{$v} {
        padding-bottom: #{$v}#{"%"};
    }
}
/*pl*/
@each $v in $_1_10{
    .pl#{$v} {
        padding-left: #{$v}#{"%"};
    }
}
.middle{
    display: table-cell;
    vertical-align: middle;
}
.vt{
    vertical-align: top;
}
.vm{
    vertical-align: middle;
}
.al{
    text-align: left;
}
.ar{
    text-align: right;
}
.ac{
    text-align: center;
}
/*z-index*/
@each $v in 1,2{
    .z#{$v} {
        z-index: #{$v};
    }
}

/************************************/
/* 样式                              */
/************************************/
.bold{
    font-weight: bold;
}
.normal{
    font-weight: normal;
}
.wbw{
    word-wrap: break-word;
}
/*font-size*/
@each $v in 12px,1em{
    .f#{$v} {
        font-size: #{$v};
    }
}
.tsd{
    text-shadow: 1px 1px 1px #000;
}
.fwb{
    font-weight: bold;
}
/*underline*/
.udl{
    text-decoration: underline;
}
/*color*/
@each $v in "red","black","blue","yellow","pink","white","gray"{
    @each $d in "pale","middle","deep"{
        .#{$v}_#{$d} {
            $vv : color($v);
            @if $d=="pale"{
                color: lighten($vv, 30%);
            }@else if $d=="middle"{
                color: lighten($vv, 20%);
            }@else{
                color: lighten($vv, 0%);
            }
        }
    }
}
/*cursor*/
.cp{
    cursor : pointer;
}