<div class="">
    <ul>
    {{#aList}}
        <li class="clearfix">
            <span class="fl"><a id="js_blog_{{blogId}}">{{title}}</a></span>
            <span class="fr">{{sceneParams.createTime}}</span>
            <span class="fr ml10"><a id="js_edit_blog_{{blogId}}">编辑</a></span>
        </li>
    {{/aList}}
    </ul>
</div>